<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
</head>




<body>
  <script src="{{url_for('static',filename='js/script.js')}}"></script>

<h2>Click on the "Choose File" button to SUMMARIZE a file:</h2>

<form action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" id="myFile" name="file">
  <input type="submit" value="SUMMARIZE ">
</form>



</body>
</html>