<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <h2>Upload a file and select summarization type:</h2>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" id="myFile" name="file" required>

        <h3>Select Summarization Type:</h3>
        <label>
            <input type="radio" name="summary_type" value="extractive" checked> Extractive
        </label>
        <label>
            <input type="radio" name="summary_type" value="abstractive"> Abstractive
        </label>

        <br><br>
        
        <h3>Select Translation Language:</h3>
        <select name="target_language">
            <option value="none" selected>No Translation</option>
            <option value="ta">Tamil</option>
            <option value="fr">French</option>
            <option value="es">Spanish</option>
            <option value="de">German</option>
            <option value="hi">Hindi</option>
            <option value="zh">Chinese</option>
        </select>

        <br><br>
        <input type="submit" name="action" value="SUMMARIZE">
        <input type="submit" name="action" value="TRANSLATE">

        <h1>VOICE RECORDER</h1>
        <!-- Speaker Button -->
        <button type="button" id="speakerButton">SPEAKER</button>
    </form>

    <!-- Include JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
